.header
  display: inline-block
  float: left
  width: 100%
  height: $header-height
  margin-bottom: 10px
  background-color: $header-background-color
  border-bottom: 1px solid $header-border-color
  margin-left: $menu-width
  position: fixed
  z-index: 6
  .left
    color: #ffffff
    float: right
    li
      vertical-align: top
      display: inline-block
      & > div
        &:hover
          cursor: pointer
          background: rgba(255, 255, 255, 0.2)
        &:active
          background: rgba(255, 255, 255, 0.3)
  .notice
    display: inline-block
    height: $header-height
    width: 60px
    font-size: 22px
    padding-top: 4px
    text-align: center
    transition: all 0.15s
  .profile
    display: inline-block
    height: $header-height
    padding-top: 10px
    cursor: pointer
    padding-left: 10px
    padding-right: 15px
    transition: all 0.15s
    .login
      font-size: 16px
      display: inline-block
    .fa
      position: relative
      left: 5px
      top: 1px
      font-size: 18px
      display: inline-block
