.header
  display: block
  width: 100%
  height: $header-height
  margin-bottom: 10px
  background-color: $header-background-color
  border-bottom: 1px solid $header-border-color
  margin-left: $menu-width
  position: fixed
  z-index: 6