<div class="dashboard" ng-controller="DashboardController">
    <div class="row">
        <div class="col-xs-12">
            <div class="box-row">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="logo">
                            <img src="resource/logo/ubuntu-logo.svg" alt="Kiwi standing on oval">
                            <!--<img height="90" src="resource/logo/debian-logo.svg" alt="Kiwi standing on oval">-->
                        </div>
                        <div class="info"></div>
                    </div>
                    <div class="col-xs-6 ">
                        123
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box-row"></div>
        </div>
        <div class="col-md-6 ">
            <div class="box-row"></div>
        </div>
    </div>
</div>
