<div class="dashboard" ng-controller="DashboardController">
    <div class="row">
        <div class="col-xs-12">
            <div class="box-row">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="logo ubuntu">
                            <img src="resource/logo/ubuntu-logo.svg">
                            <!--<img src="resource/logo/debian-logo.svg">-->
                        </div>
                        <div class="info">
                            <div class="distribName">{{ distribName }}</div>
                            <div class="serverTime">{{ serverTime }}</div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="widget">
                            <a href="#" class="btn btn-default btn-sm">Добавить виджет</a>
                        </div>
                        <div class="version">Zenti admin v 0.0.1</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box-row">
                <div class="box-title">CPU</div>
                <realtime-chart class="realtimeChart cpu" name="cpu"></realtime-chart>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="box-row">
                <div class="box-title">RAM</div>
                <realtime-chart class="realtimeChart ram" name="ram"></realtime-chart>
            </div>
        </div>
    </div>
</div>
