<!doctype html>
<html ng-app="zenti">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <title ng-bind="title">Main</title>
</head>
<body>
<section class="main-container" ng-controller="NavController">
    <aside class="menu">
        <header class="name">Zenti panel</header>
        <br/>
        <ul class="nav">
            <li class="activ1e" ng-class="getClass('/')"><a href="/"><i class="fa fa-tachometer"></i> Dashboard</a></li>
            <li ng-class="getClass('/contact')"><a href="/contact"><i class="fa fa-bar-chart-o"></i> Stats</a></li>
            <li ng-class="getClass('/s')"><a href="/"><i class="fa fa-life-ring"></i> Cron</a></li>
            <li ng-class="getClass('/a')"><a href="/"><i class="fa fa-align-left"></i> Logs</a></li>
            <li ng-class="getClass('/sada')"><a href="/"><i class="fa fa-users"></i> Users</a></li>
            <li ng-class="getClass('/as')"><a href="/"><i class="fa fa-cog"></i> Setting</a></li>
            <li ng-class="getClass('/as')"><a href="/"><i class="fa fa-arrow-right"></i> More</a></li>
        </ul>
    </aside>
    <header class="header">

    </header>
    <section class="content">
        <div class="content-box">
            <!--<div ng-view></div>-->
        </div>
    </section>
</section>


<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="vendor/angular/angular.min.js"></script>
<script src="vendor/angular-classy/angular-classy.min.js"></script>
<script src="vendor/angular-route/angular-route.min.js"></script>
<script src="js/ui.js"></script>
<script src="app.js"></script>
<script src="bundle/main/controller/NavController.js"></script>
<script src="bundle/main/controller/MainController.js"></script>
<script src="bundle/main/controller/NewsController.js"></script>
<script src="bundle/contact/controller/ContactController.js"></script>
</body>
</html>
